{
  email {$CLOUD_TLS_EMAIL}
}

{$CLOUD_CADDY_SITE} {
  encode zstd gzip

  @health path /health
  handle @health {
    reverse_proxy backend:4000
  }

  @api path /api/*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
